<header class="main-header">
	<div class="header-container">
		<div class="logo">
			<a href="{{ path('app_category_index') }}">EYSA BOUCHERIE</a>
		</div>

		<nav class="nav-links">
			<ul>
				<li><ahref="{{ path('app_category_index') }}">ACCUEIL</a></li>
				<li><a href="#">NOS PRODUITS<span class="arrow">▼</span></a></li>
				<li><a href="#">CLICK & COLLECT</a></li>
				<li><a href="#">NOTRE PHILOSOPHIE</a></li>
			</ul>
		</nav>

		<div class="header-icons">
			<a href="#">
				<i class="icon-user"></i>
				Mon compte</a>
			<a href="#">
				<i class="icon-cart"></i>
			</a>
			<a href="#">
				<i class="icon-search"></i>
			</a>
		</div>
	</div>
</header>
